---
import { Image } from 'astro:assets'

import type { Episode } from '@/lib/types'
import { getEpisodeBySlug, getEpisodePositionInSeries } from '@/lib/utils'

import Layout from '@/layouts/layout.astro'
import Button from '@/components/button'
import Wrapper from '@/components/wrapper.astro'
import Heading from '@/components/heading.astro'
import ListenNow from '@/components/listen-now'
import ListenNowOptions from '@/components/listen-now-options.astro'
import YSection from '@/components/y-section.astro'
import studio from '@/assets/studio.jpg'

const { slug } = Astro.params

if (!slug) {
  return Astro.redirect('/404')
}

const episode: Episode = await getEpisodeBySlug(slug)

if (!episode) {
  return Astro.redirect('/404')
}

const { _id, title, quotes, series, primaryEpisodeImage, introduction, musicUrl, podcastUrl } = episode
const [_, ...restQuotes] = quotes
const { url: coverImageUrl, width, height, alt } = primaryEpisodeImage
const number = await getEpisodePositionInSeries(_id, series)
---

<Layout title={`Episode: S${series} E${number} - ${title}`} class="flex flex-col">
  <div class="bg-b1ack-textured text-off-white">
    <Wrapper>
      <YSection size="md">
        <Heading level={1} class="text-center">
          <span class="mb-2 font-display text-lg font-extrabold uppercase text-0range md:text-2xl">
            Series {series} - Episode {number}
          </span><br />

          {title}
        </Heading>

        <p class="font-medium text-md mx-auto md:text-md prose text-off-white text-center pretty">{introduction}</p>
      </YSection>

      <Image src={coverImageUrl} {width} {height} {alt} class="h-auto w-full" />
    </Wrapper>
  </div>

  <ListenNow translateHalf="top" anchor="bottom" client:idle>
    <ListenNowOptions {musicUrl} {podcastUrl} />
  </ListenNow>

  <Wrapper>
    <YSection size="lg" class="flex flex-col gap-4">
      {
        restQuotes.map(({ quote, author }) => (
          <blockquote class="mx-auto max-w-prose text-center text-lg md:text-2xl">
            <span class="block mb-4 font-medium md:leading-10">&ldquo;{quote}&rdquo;</span>
            <footer class="font-bold">- {author}</footer>
          </blockquote>
        ))
      }
    </YSection>
  </Wrapper>

  <Button as="a" href={`/research/${slug}`} translateHalf="bottom">Research</Button>

  <div class="bg-b1ack-textured text-off-white">
    <Wrapper>
      <Image src={studio} alt="Image of the record studio" class="h-auto w-full" />
    </Wrapper>
  </div>
</Layout>
