---
import { CONTACT_EMAIL, CONTACT_NUMBER, INSTAGRAM, PODCAST_NAME } from '@/lib/config'
import type { Icon as $Icon, Episode } from '@/lib/types'
import { getEpisodePositionInSeries, getEpisodes } from '@/lib/utils'

import Heading from '@/components/heading.astro'
import Icon from '@/components/icon.astro'
import PodcastStream from '@/components/podcast-stream'
import Wrapper from '@/components/wrapper.astro'
import YSection from '@/components/y-section.astro'

const icons: Array<{ name: $Icon; href: string }> = [
  { name: 'youtube_rounded', href: '#' },
  { name: 'instagram_rounded', href: '#' },
  { name: 'facebook_rounded', href: '#' },
  { name: 'twitter_rounded', href: '#' },
]
const year = new Date().getFullYear()

const episodes = await getEpisodes({ previews: true, limit: 5 })
const numberedEpisodes = await Promise.all(
  episodes.map(async (episode: Episode) => {
    const number = await getEpisodePositionInSeries(episode)

    return {
      ...episode,
      number,
    }
  })
)
---

<footer class="bg-0range-textured">
  <Wrapper>
    <YSection size="lg" class="text-center">
      {
        episodes.length ? (
          <>
            <Heading level={3}>Listen now</Heading>
            <div class="mb-6 md:mb-16">
              <PodcastStream episodes={numberedEpisodes} transition:persist client:load />

              <a href="/music" class="mx-auto mt-6 inline-block font-bold leading-none">
                Listen to more episodes
              </a>
            </div>
          </>
        ) : (
          ''
        )
      }

      <Heading level={3}>Contact</Heading>
      <ul class="text-lg font-bold uppercase leading-tight xs:text-xl md:text-2xl">
        <li><a href={`mailto:${CONTACT_EMAIL}`}>{CONTACT_EMAIL}</a></li>
        <li>Todd Speakman: <a href={`tel:${CONTACT_NUMBER}`}>{CONTACT_NUMBER}</a></li>
        <li><a href={`https://www.instagram.com/${INSTAGRAM}`}>@{INSTAGRAM}</a></li>
      </ul>

      <ul class="mt-8 flex items-center justify-center gap-3">
        {
          icons.map(({ name, href }) => (
            <li>
              <a {href}>
                <Icon {name} width={36} height={36} />
              </a>
            </li>
          ))
        }
      </ul>
      <p class="mt-6 text-sm font-medium">Copyright {year} - {PODCAST_NAME}</p>
    </YSection>
  </Wrapper>
</footer>
